@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.card_grid {
  width: 100%;
  height: 1200px;
  background: #E6E9ED;
}
.card_container {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}
/* ============ MENU/NAV ============ */
.select-filter-group {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1em;
}
.filters-select {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.filters-select h4 {
  width: 100%;
  padding-right: 0;
}
select {
  width: 10em;
  margin-top: 1em;
}
.filter_menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 0;
}
.filter_nav button {
  position: relative;
  background: transparent;
  border: none;
  text-align: center;
  font-size: .8em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .25s ease;
  margin: 0 .8em;
  color: #3a3a3a;
  transition: color .25s ease;
}
.filter_nav button:hover {
  color: #FC6E51;
}
.filter_nav button:focus {
  color: #FC6E51;
}
.mobile_card_style {
  display: none;
}
.business_card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin: 1% 1%;
  width: 23%;
  height: 325px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  transition: all .25s ease-in-out;
}
.business_card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.card_image {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_image img {
  width: 80%;
  height: auto;
  max-height: 90%;
}
.business_category {
  background-color: #d2652d;
  top: 0;
  color: #fff;
  left: 0;
  min-height: 18px;
  min-width: 48px;
  position: absolute;
  text-align: center;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom-right-radius: 3px;
  padding: 5px 10px;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
}
.sponsor {
  display: none;
  background-color: #d2652d;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 18px;
  min-width: 48px;
  position: absolute;
  text-align: center;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 0px;
  padding: 5px 10px;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
}
.business_info {
  background: #3C3B3D;
  color: #F5F7FA;
  width: 100%;
  height: 175px;
  position: absolute;
}
.business_info h4 {
  margin: .5em .5em .1em .5em;
  width: 100%;
}
.business_info p {
  font-size: .8em;
  margin-left: .5em;
  margin-right: .5em;
}
.views {
  position: absolute;
  bottom: 5px;
  color: #00A1B1;
  margin-left: .5em;
  font-size: 0.8em;
  transition: all .25s ease-in-out;
}
.business_card a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.business_card:hover  {
  -webkit-transform: translateY(-.3em);
  transform: translateY(-.3em);
  box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.3);
}
.business_card:hover .views {
  color: #d2652d;
}
/* ========== MEDIA QUERIES =========== */
@media only screen and (max-width : 768px){
  .mobile_card_style {
    display: none;
  }
  #container {
    justify-content: center;
  }
  .business_card {
    width: 31.33%;
    height: 350px;
  }
  .business_info {
    height: 200px;
  }
}
@media only screen and (max-width : 320px){
  .card_grid {
    background: #fff;
  }
  .mobile_card_style {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid #3C3B3D;
  }
  .business_card {
    display: none;
  }
}